<div class="table-responsive">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Дата</th>
          <th scope="col">Сумма</th>
          <th scope="col">Тип</th>
          <th scope="col">Комментарий</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>11.11.2012</td>
          <td>100</td>
          <td>Расход</td>
          <td>Описание покупки</td>
          <td class="td_ico"><a href="sample.html"><img class="ico" src="../../assets/svg/change.png" alt="Пример"></a></td>
          <td class="td_ico"><a href="sample.html"><img class="ico" src="../../assets/svg/delete.png" alt="Пример"></a></td>
        </tr>
        <tr>
          <td>11.11.2012</td>
          <td>100</td>
          <td>Расход</td>
          <td>Описание покупки</td>
          <td class="td_ico"><a href="sample.html"><img class="ico" src="../../assets/svg/change.png" alt="Пример"></a></td>
          <td class="td_ico"><a href="sample.html"><img class="ico" src="../../assets/svg/delete.png" alt="Пример"></a></td>
        </tr>
      </tbody>
    </table>
</div>